@model STO.ViewModels.CommentViewModel
<h2 style="text-align:center">Написать комментарий</h2>
<form method="post" asp-controller="STO" asp-action="Coments">
    <div style="text-align:center">
        <br />
        <input class="input-lg" asp-for="Coment" />
        <span asp-validation-for="Coment"></span>
    </div> 
    </br>
    <div style="text-align:center">
        <input class="btn" type="submit" value="Отправить"/>
    </div>
</form>
