<h2 style="text-align:center">Оставление отзыва</h2>
<form method="post" asp-controller="STO" asp-action="Evaluation">
    <div style="text-align:center">
        <select name="Eval">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    </br>
    <div style="text-align:center">
        <input class="btn" type="submit" value="Отправить" />
    </div>
</form>
