<h2>Оставление отзыва</h2>
<form method="post" asp-controller="STO" asp-action="Evaluation">
    <div>
        <select name="Eval">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>
