@{
    ViewData["Title"] = "STO";
}
@model IEnumerable<STO.Models.STOModel>
<form method="post" asp-controller="Home" asp-action="Index">
    <p><b>Услуги</b></p>
    <p>
        <input type="checkbox" name="DWS" value="ремонт ДВС">ремонт ДВС<Br>
        <input type="checkbox" name="Podveska" value="ремонт подвески">ремонт подвески<Br>
        <input type="checkbox" name="Kuzov" value="ремонт кузовного железа">ремонт кузовного железа<Br>
        <input type="checkbox" name="Shinomontoj" value="шиномонтаж">шиномонтаж<Br>
        <input type="checkbox" name="Dvigatel" value="регулировка узлов двигателяs">регулировка узлов двигателяs
    </p>
    <select name="Rajon">
        <option value="">Все районы</option>
        <option value="Кировский">Кировский</option>
        <option value="Ленинский">Ленинский</option>
        <option value="Октябрьский">Октябрьский</option>
        <option value="Советский">Советский</option>
        <option value="Центральный">Центральный</option>
    </select>
    <p><input type="submit" value="Подобрать"></p>
</form>
<h2>Список СТО</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <a href="STO/Index/@user.Id">@user.Name</a>
                ocenka
            </td>
        </tr>
    }
</table>
