@model STO.ViewModels.RecordViewModel
<h2 style="text-align:center">Запись</h2>
<form method="post" asp-controller="STO" asp-action="Record">
    <div style="text-align:center">
        <label asp-for="FIO"></label><br />
        <input asp-for="FIO" />
        <span asp-validation-for="FIO"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="ModelCar"></label><br />
        <input asp-for="ModelCar" />
        <span asp-validation-for="ModelCar"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="PhoneNumber"></label><br />
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div></br>
    <div style="text-align:center">
        <input class="btn" type="submit" value="Отправить" />
    </div>
</form>