@model STO.ViewModels.LoginViewModel

<h2  style="text-align:center">Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div  style="text-align:center">
        <label>Логин</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div  style="text-align:center">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div  style="text-align:center">
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div  style="text-align:center">
        <input class="btn" type="submit" value="Войти" />
    </div>
</form>