<div>
    <p></p>
    <input class="btn center-block" type="button" value="СТО" onclick="javascript:window.location.href='@(Url.Action("STORegister", "Account"))'" />
    <p></p>
    <input class="btn center-block" type="button" value="Пользователь" onclick="javascript:window.location.href='@(Url.Action("UserRegister", "Account"))'" />
</div>