@model STO.ViewModels.STORegisterViewModel
<h2>Регистрация нового СТО</h2>
<form method="post" asp-controller="Account" asp-action="STORegister">
    <div asp-validation-summary="ModelOnly"></div>    
    <div style="text-align:center">
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Adres"></label><br />
        <input asp-for="Adres" />
        <span asp-validation-for="Adres"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Rajon"></label><br />
        <input asp-for="Rajon" />
        <span asp-validation-for="Rajon"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Close"></label><br />
        <input asp-for="Close" />
        <span asp-validation-for="Close"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Open"></label><br />
        <input asp-for="Open" />
        <span asp-validation-for="Open"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Contacts"></label><br />
        <input asp-for="Contacts" />
        <span asp-validation-for="Contacts"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Description"></label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Services"></label><br />
        <input asp-for="Services" />
        <span asp-validation-for="Services"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div style="text-align:center">
        <label asp-for="PasswordConfirm"></label><br />
        <input  asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div><br />
    <div style="text-align:center">
        <input class="btn" type="submit" value="Регистрация" />
    </div>
</form>