@model STO.ViewModels.UserEditViewModel
<h2  style="text-align:center">Редактирование данных</h2>
<form method="post" asp-controller="Account" asp-action="EditUser">
    <div asp-validation-summary="ModelOnly"></div>
    <div  style="text-align:center">
        <label>Логин</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div  style="text-align:center">
        <label asp-for="PhoneNumber"></label><br />
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div  style="text-align:center">
        <label asp-for="Car"></label><br />
        <input asp-for="Car" />
        <span asp-validation-for="Car"></span>
    </div><br />
    <div  style="text-align:center">
        <input class="btn" type="submit" value="Изменить" />
    </div>
</form>