@{
    ViewData["Title"] = "Контакты";
    ViewData["Message"] = "Проект Разрабатывала:";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Команда Чебурашка.
</address>

<address>
    <strong>Почта:</strong> <a href="mailto:wlad-popow@mail.ru">wlad-popow@mail.ru</a><br />
</address>
