@{
    ViewData["Title"] = "Контакты";
    ViewData["Message"] = "Проект Разрабатывали:";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Попов Владислав Зурабович
</address>

<address>
    <strong>Почта:</strong> <a href="mailto:wlad-popow@mail.ru">wlad-popow@mail.ru</a><br />
</address>
