@{
    ViewBag.Title = "Сервис записи на СТО";
}
@using STO.Controllers

<div class="row">
    <input type="button" class="btn" value="Регистрация" onclick="javascript:window.location.href='@(Url.Action("Index","UserController"))'" />
    <button>Вход</button>
    <button>Выход</button>
</div>
<div>
    <input type="checkbox">Ремонт ДВС<Br>
    <input type="checkbox">Ремонт ходовой<Br>
    <input type="checkbox">Регулировка узлов ДВС<Br>
    <input type="checkbox">Кузовной ремонт<Br>
    <input type="checkbox">Шиномонтаж<Br>
    <input type="checkbox">Другое
    <input type="text" size="20">
    <p><b>Район города:</b><br>
    <input type="text" size="40">
</div>
