@{
    ViewData["Title"] = "STO";
}
@model IEnumerable<STO.Models.User>
<h2>Список СТО</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <a asp-controller="Account" asp-action="Register">@user.Name</a>  
        </tr>
        <tr>
            ocenka
        </tr>
    }
</table>