@{
    ViewData["Title"] = "STO";
}
@model IEnumerable<STO.Models.User>
<h2>Список СТО</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>       
        </tr>
    }
</table>