
<div>
    <p>
        Ведите номер телефона:
        <input type="text" size="20">
    </p>
    <p>
        Ведите марку автомобиля:
        <input type="text" size="20">
    </p>
    <input type="button" class="btn" value="Зарегистрироваться" />
</div>